<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--th:fragment="head(title)">-->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!--        why is this behaving like an ordered list/with bullet points?...-->
        <!--        part of the problem was using an old version (3) of bootstrap-->
        <ul class="navbar-nav mr-auto">
            <!--            <li class="nav-item active ">-->
            <!--                <a class="nav-link" href="#">Link</a>-->
            <!--            </li>-->
            <!--            <li class="nav-item dropdown">-->
            <!--                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--                    Dropdown-->
            <!--                </a>-->
            <!--                <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
            <!--                    <a class="dropdown-item" href="#">Action</a>-->
            <!--                    <a class="dropdown-item" href="#">Another action</a>-->
            <!--                    <div class="dropdown-divider"></div>-->
            <!--                    <a class="dropdown-item" href="#">Something else here</a>-->
            <!--                </div>-->
            <!--            </li>-->
        </ul>

        <!--        -->
        <!--        <form class="form-inline my-2 my-lg-0">-->
        <!--            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
        <!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        <!--        </form>-->



        <!--            THIS BELOW IS HOW YOU DO THE LOGIN/LOGOUT ADDING SPRING SECURITY- THIS SHOULD REPLACE
              WHAT I HAVE BELOW-->
        <!--            <li class="nav-item" sec:authorize="!isAuthenticated()">-->
        <!--                <a class="nav-link" href="/login">Login</a>-->
        <!--            </li>-->
        <!--            <li sec:authorize="isAuthenticated()">-->
        <!--                <span th:text="${#authentication.principal.username}"/>-->
        <!--            </li>-->
        <!--            <li class="nav-item" sec:authorize="isAuthenticated()">-->
        <!--                <form th:action="@{/logout}" th:method="post">-->
        <!--                    <button class="btn-link btn" style="margin-top: 8px">Logout</button>-->
        <!--                </form>-->
        <!--            </li>-->
        <form th:action="@{/sign-up}" th:method="get">
            <button class="btn-link btn" style="margin-top: 8px">Register</button>
        </form>
        <form th:action="@{/login}" th:method="get">
            <button class="btn-link btn" style="margin-top: 8px">Login</button>
        </form>
        <form th:action="@{/logout}" th:method="post">
            <button class="btn-link btn" style="margin-top: 8px">Logout</button>
        </form>
    </div>
</nav>



</body>
</html>


