<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"/>
<img id="cloud-pic" src="../imgs/clouds-pexels-844112.jpg" alt="clouds">
<div class="container">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">ABOUT ME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">PORTFOLIO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">RESUME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">CONTACT</a>
        </li>
    </ul>


<h1 class="title" id="name-header">EMILY BOWERSOX</h1>
<h2 class="title" id="job-header">SOFTWARE DEVELOPER</h2>
<a class="title" id="enter-button">CONTACT</a>
</div>
</body>
</html>






