<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"/>
<img id="cloud-pic" src="../imgs/clouds-pexels-844112.jpg" alt="clouds">
<div class="container">

    <h1 class="title" id="name-header">EMILY BOWERSOX</h1>
    <h2 class="title" id="job-header">SOFTWARE DEVELOPER</h2>
    <a class="title" id="enter-button">CONTACT</a>
</div>
</body>
</html>






